.custom-row{
    background-color: darkcyan;
    color: white;
    height: 50px;
}
#option{
    text-decoration: none;
    color: white;
}
.main{
    margin: 100px 100px 100px 100px;
}
.footer{
    background-color: darkcyan;
    height: 75px;
    color: white;
}
.connection-main{
    height: 800px;
}

.user-nav-btn{
    background-color: darkcyan;
}
#new-connection-btn{
    color: white;
}

#nav-bar{
    position: sticky;
    top: 0;
    background-color: rgb(203, 202, 193);
}