.custom-row{
    background-color: darkcyan;
    color: white;
    height: 50px;
}
#option{
    text-decoration: none;
    color: white;
}
.main{
    height: 800px;
    margin: 100px 100px 100px 100px;
}
.footer{
    background-color: darkcyan;
    height: 100px;
    color: white;
}
.connection-main{
    height: 800px;
}

.user-nav-btn{
    background-color: darkcyan;
}
#new-connection-btn{
    color: white;
}