<%- include('../partials/header.ejs') %>


    <!-- Form to make a new connection -->
    <div class="connection-main">
        <h1 style="margin-top: 20px; margin-left: 50px; margin: 50px;">Create a New Connection</h1>
        <form action="/connections" method="POST" class="container connection-form">
            <div class="mb-3">
                <div class="row">
                    <div class="col-md-1">
                        <label class="form-label">Topic</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" name="topic" class="form-control" id="inputTopic">
                    </div>
                </div>  
            </div>

            <div class="mb-3">
                <div class="row">
                    <div class="col-md-1">
                        <label class="form-label">Title</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" name="title" class="form-control" id="inputTitle">
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <div class="row">
                    <div class="col-md-1">
                        <label class="form-label">Host</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" name="host" class="form-control" id="inputHost">
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <div class="row">
                    <div class="col-md-1">
                        <label class="form-label">Details</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" name="details" class="form-control" id="inputDetails">
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <div class="row">
                    <div class="col-md-1">
                        <label class="form-label">Where</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" name="where" class="form-control" id="inputWhere">
                    </div>
                </div>
            </div>
            
            <div class="mb-3">
                <div class="row">
                    <div class="col-md-1">
                        <label class="form-label">When</label>
                    </div>
                    <div class="col-md-9">
                        <input type="date" name="when" class="form-control" id="inputWhen">
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <div class="row">
                    <div class="col-md-1">
                        <label class="form-label">Start</label>
                    </div>
                    <div class="col-md-9">
                        <input type="time" name="start" class="form-control" id="inputStart">
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <div class="row">
                    <div class="col-md-1">
                        <label class="form-label">End</label>
                    </div>
                    <div class="col-md-9">
                        <input type="time" name="end" class="form-control" id="inputEnd">
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <div class="row">
                    <div class="col-md-1">
                        <label class="form-label">Image</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" name="image" class="form-control" id="inputImage">
                    </div>
                </div>
            </div>

            <button type="submit" id="create-connection-btn">Create Connection</button>
          </form>
    </div>

    <!-- footer -->
    <%- include('../partials/footer.ejs') %>